@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  background-color: #240b0b;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* Removido o display: flex daqui, que era o que causava o erro */
}